@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-label {
    font-family: "Poppins", sans-serif;
}

.tabs-container {
    position: relative; 
}

.tab {
    transition: color 0.3s ease; 
}

.tab-active {
    color: #317EF4;
}

.active-line {
    position: absolute;
    bottom: 0; 
    height: 4px; 
    background-color: #317EF4; 
    transition: left 0.3s ease, width 0.3s ease; 
}
