@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: white;
}

.relative .absolute {
    top: 45px;
    transform: translateY(-50%);
  }

  .border-box{
    border-radius: 20px;
  }

  .btn-box-shadow {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #5000AC;
    transition: all 0.3s ease;
    font-size: 16px;
  }
  
  .btn-box-shadow:active {
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px); 
  }
  
  .btn-disabled {
    background-color: #D7D6E0; 
    box-shadow: 0 4px 6px rgba(143, 151, 171, 0.5); 
    color: #A9A9A9; 
    cursor: not-allowed; 
  }
  
  .btn-disabled:hover {
    background-color: #D7D6E0; 
  }
  