/* Configuacion general de la tarjeta y movivimiento */
#container-carrusel {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel {
    position: relative;
  }
  
  .carousel-content {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    -webkit-overflow-scrolling: touch; /* Para un desplazamiento suave en iOS */
    padding-bottom: 1rem; /* Espacio para el scrollbar */
    gap: 1rem; /* Espacio entre tarjetas */
  }
  
  .carousel-content::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Opera */
  }
  /*Diseño de la card*/
  .carousel-item {
    flex: 0 0 auto;
    width: calc(100% - 2rem); 
    scroll-snap-align: center;
    height: 15rem; 
    background: linear-gradient(90deg, rgba(49,126,244,1) 35%, rgba(142,43,255,1) 100%); 
    color: white;
    border-radius: 1rem; 
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .carousel-item {
      width: calc(50% - 1rem); 
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-item {
      width: calc(33.333333% - 1rem); 
    }
  }
  
  @media (min-width: 768px) {
    .carousel-item {
      width: calc(50% - 0.5rem); 
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-item {
      width: calc(33.333333% - 0.67rem); 
    }
  }
  
  .card-content {
    padding: 0;
    width: 100%;
    position: relative;
}
/*Parte superior de la tarjeta*/
#topview-card {
 
  justify-content: space-between;
    background-color: #EFF1FA;
    text-align: center;
  /*  padding: 8px 0; */
    font-weight: 600; /* */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.match-date-time {
    display: flex;
    text-align: center;
    color: white; 
    font-weight: 600; 
}

/*Contenedor donde estan los VS*/
.match-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    background: linear-gradient(90deg, rgba(49,126,244,1) 35%, rgba(142,43,255,1) 100%); 
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 50px;
}

.team-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.team-logo {
    width: 4rem;
    height: 4rem;
    object-fit: contain; 
}

.team-name {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: white;
    text-align: center;
}

/*Imagen del versus*/
.vsImage {
    height: 100px;
    width: 100px; 
}

.topview-time{
  color: black;
  margin-right: 10px; 
}
/*TRAPECIO Y DATE*/
.trapecio {
  color: white;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 0px;
    margin: auto;
    border-right: 3em solid transparent;
    border-left: 3em solid transparent;
    border-top: 3em solid; 
    border-top: 3em solid #BF2CFF;
    position: relative;
    background: linear-gradient(#C99BFF 35%, #8F2CFF 100%); 
}

.topview-date{
  color:rgb(255, 255, 255);
    position: absolute;
    bottom: 1em;
    margin: auto;
    padding: auto;
    width: fit-content;
    right: 1em;
    text-align: center;
}


 
logo-le{
  margin-left: 10px;
}

.time-close {
  font-size: 10px;
  text-align: center;
  padding: 10px;
  background: white;
  color: black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.timeCloseVar{
  background: gray;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}