@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: white;
    font-family: "Poppins", sans-serif;
}

.container-partido{
    margin-bottom: 100px; /*Esto arregla que le menu pise la tarjeta*/
}

.title{
    font-family: "Poppins", sans-serif;
    color: black;
    margin: 20px;
    font-weight: bold;
}

.partidosTitle{
    display: flex;
    color: #317EF4;
    font-weight: bold;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    margin-top: 30px;
   
}

.statePartido{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 20px;
}