#cardStatis{
    max-width: 400px;
    margin-top: 10px;
    border: 1px solid #dfdfdf;
}

#statisPercentage{
}

.team-span {
    display: inline-block;
    max-width: 50px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  