@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.component-imagen {
    width: 100%; 
    height: 100px; 
    background: linear-gradient(#317ef4 35%, #23529A 100%);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 15px;
}

.notification-icon {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.avatarImg{
    clip-path: circle(50%);
    width: 45px;
    height: 45px;
    border: 3px solid #BD6B36;
    object-fit: cover;
    margin-right: 10px;
}

.welcome-user{
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.icon-ball-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #353333;
    padding: 5px;
    margin-left: 20px; 
    margin-right: 60px; 
    width: 120px;
    height: 30px;
    transform: skew(-5deg);
    border-radius: 5px;
}

/* Ícono de la pelota */

.icon-ball{
    width: 25px;
    height: 25px;
}

/* Contador de vidas */

.counter-container{
    color: white;
    font-size: 14px;
    background-color: #0A0A0A;
    opacity: 0.4;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}

/* Número de vidas */

.counter-life{
    color: white;
    z-index: 20;
    font-size: 12px;
}

/* Botón comprar vidas */

.buy-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
}


.notification-icon{
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 2px;
}

@media (max-width: 320px) {
    .component-imagen {
        flex-direction: row;
        padding: 5px 10px;
    }

    .avatarImg {
        width: 40px;
        height: 40px;
    }

    .welcome-user {
        font-size: 12px;
        margin-left: 0px;
    }

   

    .icon-ball {
        width: 20px;
        height: 20px;
    }

    .counter-container {
        width: 40px;
        font-size: 10px;
    }

    .buy-button {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    .notification-icon {
        width: 18px;
        height: 18px;
    }
}
